*{
    padding: 0;
    margin: 0;
}
.inner h4{
    padding-bottom: 20px;
    padding-top: 20px;
}
.inner h1{
    padding-bottom: 15px;
}
.inner p{
    padding-bottom: 10px;
}
.email-input{
    padding-right: 203px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.btn2{
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #AA4528;
    color: white;
    border-radius: 4px;
    border-color: #AA4528;
}
.firstimage img{
    height: auto;
    width: 300px;
    object-fit: cover;
}
.stage1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.stage2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0DFDC;
}
.why h1{
    font-size: 60px;
}
.why p{
    font-size: 20px;
}
.wealth{
    background-color: rgb(255, 255, 255);
    width: 500px;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 30px;
}
.wealth h1{
    padding-bottom: 10px;
}
.wealthimage{
    height: 50px;
    width: 50px;
    overflow: hidden;
}
.wealthimage img{
    height: 100%;
    width: 100%;
    object-fit:cover ;
}
.income{
    background-color: rgb(255, 255, 255);
    width: 500px;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px;
    padding-bottom: 30px;
}
.income h1{
    padding-bottom: 10px;
}
.incomeimage{
    height: 50px;
    width: 50px;
    overflow: hidden;
}
.incomeimage img{
    height: 100%;
    width: 100%;
    object-fit:cover ;
}
.superior{
    background-color: rgb(255, 255, 255);
    width: 500px;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px;
    padding-bottom: 30px;
}
.superior h1{
    padding-bottom: 10px;
}
.superiorimage{
    height: 50px;
    width: 50px;
    overflow: hidden;
}
.superiorimage img{
    height: 100%;
    width: 100%;
    object-fit:cover ;
}
.built{
    background-color: rgb(255, 255, 255);
    width: 500px;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px;
    padding-bottom: 30px;
}
.built h1{
    padding-bottom: 10px;
}
.builtimage{
    height: 50px;
    width: 50px;
    overflow: hidden;
}
.builtimage img{
    height: 100%;
    width: 100%;
    object-fit:cover ;
}



.stage3{
    display: flex;
    background-color: #22262A;
    color: white;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.style{
    display: flex;
    flex-direction: column;
}
.inner2 h4{
    padding-top: 100px;
    padding-bottom: 10px;
}
.inner2 h1{
    padding-bottom: 10px;
}
.box{
    display: flex;
    gap: 20px;
}
.box1{
    background-color: #383B40;
    color: white;
    width: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box2{
    background-color: #383B40;
    color: white;
    width: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.box3{
    background-color: #383B40;
    color: white;
    width: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lastlink a{
    color: red;
}
.lastlink a:hover{
    color: red;
}
.asset{
    padding-top: 150px;
    padding-left: 130px;
}
.icon1{
    display: flex;
    gap: 5px;
   align-items: center;
   margin-top: 15px;
}
.icon2{
    display: flex;
    gap: 5px;
   align-items: center;
   margin-top: 15px;
}
.icon3{
    display: flex;
    gap: 5px;
   align-items: center;
   margin-top: 15px;
}




.stage4{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #383B40;
    color: white;
    padding-top: 100px;
}
.boxlike{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.inner4 h5{
    margin-bottom: 15px;
}
.inner4 h1{
    margin-bottom: 15px;
}
.inner4 p{
    margin-bottom: 10px;
}
.boxlike1{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boxlike2{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boxlike3{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.linklike a{
    color: white;
}
.linklike  a:hover{
    color: white;
}
.inner5{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}
.goldmanlink a{
    color: red;
}
.familyhomes h4{
    font-size: xx-large;
}
.usmarket h4{
    font-size: xx-large;
}